<div class="ab-fake-counter ps-sr-scope" data-product-id="{{ product_id }}" data-hours="{{ hours }}" data-anim="zoomIn" data-seq="0">
  <div class="ab-fc-row">
    <p class="ab-fc-title">{{ title }}</p>
    <div class="ab-fc-digits" dir="ltr">
      <div class="ab-fc-unit">
        <span class="ab-fc-num" data-unit="days">00</span>
        <span class="ab-fc-label">{{ label_days }}</span>
      </div>
      <span class="ab-fc-sep">:</span>
      <div class="ab-fc-unit">
        <span class="ab-fc-num" data-unit="hours">00</span>
        <span class="ab-fc-label">{{ label_hours }}</span>
      </div>
      <span class="ab-fc-sep">:</span>
      <div class="ab-fc-unit">
        <span class="ab-fc-num" data-unit="minutes">00</span>
        <span class="ab-fc-label">{{ label_minutes }}</span>
      </div>
      <span class="ab-fc-sep">:</span>
      <div class="ab-fc-unit">
        <span class="ab-fc-num" data-unit="seconds">00</span>
        <span class="ab-fc-label">{{ label_seconds }}</span>
      </div>
    </div>
  </div>
</div>
